.box1{
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 500px;
    height: 500px;
}

/*使用长度值或百分比*/
.box2{
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-position: 20px 10%;
    width: 500px;
    height: 500px;
}
/*混合使用关键字，长度值以及百分比*/
.box3{
    background-image:url(../images/star.png);
    background-repeat: no-repeat;
    background-position: top 20px;   
    width: 500px;
    height: 500px;
}

/*4-value语法*/
.box4{
    background-image:url(../images/star.png);
    background-repeat: no-repeat;
    background-position: top 20px right 10px;
    width: 500px;
    height: 500px;
}

.box5{
    background-image:url(../images/star.png);
    background-repeat: no-repeat;
    background-position: 120px 1em;
    width: 500px;
    height: 500px;
}


