.wrapper{

    display: grid;
    /*网格容器*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap:20px;
    border:1em solid rosybrown;
}

.wrapper > div{
    background-color: rebeccapurple;
    border-radius: .5em;
}

/*强制图像拉伸*/
img{
    width: 100%;
    height: 100%;
}