.wrapper{
    display:flex;
}

.box1{
    border: solid 10px bisque;
    background-color: cadetblue;
}
.box2{
    border: solid 10px bisque;
    background-color: cadetblue;
}

.box3{
    border: solid 10px bisque;
    background-color: cadetblue;
}