.wrapper{
    font-size: 1em;
    border: 10px solid skyblue;
}

.px{
    width: 200px;
    border: 1em solid slateblue;
}

.vw{
    width: 10vw;
    border: 1em solid burlywood;
}

.em{
    width: 10em;
    border: 1em solid rosybrown;
}